In [66]:
--Tutorial Lua 05/10/2022

In [67]:
--imprimindo na tela
print("Oi mundo!!")

Oi mundo!!

In [68]:
--Trecho: uma sequência de instruções. 
a=1
a=2 b=3
a=2; b=2*a
a=3 b=3*b

In [69]:
--Comentário e bloco de comentário
--Isso é um comentário
--[[Isso é um grande bloco de coemntaro
mesmo
]]

In [70]:
--Variáveis globais
print(a)
a=10--deveria dar nill
print(a)
a=100
print(a)
a=nil
print(a)

3
10
100
nil

In [71]:
--Tipagem e Valores
--[[Lua é uma linguagem tipada dinamicamente,
logo os tipos não são definidos. Isso implica 
que é o valor que define o tipo.]]
--[[Um valor podem ser atribuidos os seguintes tipos:
*nil
*boolean
*number
*string
*userdata
*function
*thread
*table]]

In [72]:
print(type(nil))
print(type(true))
print(type(10))
print(type("Oi"))
print(type(print))
print(type(k))--k não foi inicializada
k=print
print(type(k))
k(type(k))

nil
boolean
number
string
function
string
function
function

In [73]:
--nil avaliado como false.
--0 e string vazia são entendidas como true.

In [74]:
s=0xff--Hexa
print(s)

255

In [75]:
--Coerções para número
print("10" + 10)
print("2" * "2")
print("oi" + 1)

20.0
4.0

n/a: (ilua):4: attempt to perform arithmetic on a string value

In [76]:
--Coerções para string
print(10 .. 10)

1010

In [77]:
--converção para número

s = tonumber("10")
print(type(s))

number

In [78]:
--[[Tabelas implementam arranjos associativos. Uma arranjo assosciativo permite que o indexe não seja feito apenas 
por números (no Lua o nil não pode ser indexe)]]--
--Tabelas são objetos
A = {} --tabela declarada
print(type(A))

table

In [79]:
k="w"
A[k] = 100
B=A
print(A["w"])
print(A[k])
print(B["w"])
print(B[k])
A = nil
print("-----")
print(type(A))
print(B["w"])
print(B[k])

100
100
100
100
-----
nil
100
100

In [80]:
C={}
for i=-5, 10 do
    C[i] = i*2
end

for i=-5, 10 do
    print(C[i])
end

for i=-5, #C do
    print(C[i])
end

-10
-8
-6
-4
-2
0
2
4
6
8
10
12
14
16
18
20
-10
-8
-6
-4
-2
0
2
4
6
8
10
12
14
16
18
20

In [81]:
print(C[1])

2

In [83]:
--Exercício
type(nil)==nil

false

In [86]:
127/10==12.7

true

In [87]:
print(127e-1)

12.7

In [101]:
a={}
a[a] = 2
a.a =3
a[a] = 2
print(a.a)

3

In [110]:
--Expressões
--Operadores
s = 1+2
s= s-2
s= s/2
s = s ^ 4
s = s%4
k = not true
print(s)
print(k)

0.0625
false

In [112]:
--Lógicos
print(5 and 9)
print(5 or 9)

9
5

In [124]:
min = (5 > 9) and 9 or 5
max = (9 > 5) and 9 or 5

In [125]:
print(min)
print(max)

5
9

In [126]:
print(not nil)
print(not false)

true
true

In [128]:
--Concatenação
s = "a" .. "b" .. "c"
print(s)

abc

In [132]:
A={}
print(#A)
A[1]=1
A[1000]=1
A[2]=1
print(#A)

0
2

In [131]:
print(A[2])

nil

In [137]:
B={10,10,10,nil,nil}
print(#B)

3

In [138]:
B={10,10,10,nil,nil,10}
print(#B)

6

In [1]:
--Atribuiçã0
a = "hello ".."world."
print(a)

hello world.

In [13]:
--Aribuicao multipla
a, b = 1, 1
print(a.." "..b)

1 1

In [14]:
c, d= 2,2*c
print(a.." "..b)

n/a: (ilua):1: attempt to perform arithmetic on global 'c' (a nil value)

In [15]:
a, b= 2*a,2*a
print(a.." "..b)

2 2

In [16]:
a, b= 2+b,2*a
print(a.." "..b)

4 4

In [18]:
a, b, h = 1, 2
print(a.." "..b.." "..h)

n/a: (ilua):2: attempt to concatenate global 'h' (a nil value)

In [19]:
a , b, m = 0, 0
print(a,b,m)

0	0	nil

In [20]:
a , b, m = 0
print(a,b,m)

0	nil	nil

In [22]:
--Variável Local
a = 0

while(a < 10) do
  a = a + 3
  local aux = a
  print(aux)
end

print(aux)

3
6
9
12
nil

In [ ]:
--local x = x + 1 --erro
do
    local x = 1--sempre dentro de um bloco do/end
    x= x + 1
    print(x)
end

In [ ]:
a ,b = 10, 20
do
    local a
    print(a)
end
print(a, b)

In [15]:
--Estrutura de controle
A={10, 1, 5, 4, 0}
index = 1
maior = A[1]

while(index <= #A) do    
    if maior < A[index] then
            maior =  A[index]    
    end
    index =  index + 1
end
    
print(maior)

A={-1, 1, -5, 4, 0}
index = 1
menor = A[1]

while(index <= #A) do    
    if menor > A[index] then
            menor =  A[index]    
    end
    index =  index + 1
end
    
print(menor)

10
-5

In [18]:
a = 20
repeat
    print(a)
    a = a- 1
until a < 0

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [20]:
for i = 0, 10 do
    print(i)
end

0
1
2
3
4
5
6
7
8
9
10

In [42]:
for i = 0, 10 do
    A[i] = i
end

for i = 0, #A do
    print(A[i])
end

0
1
2
3
4
5
6
7
8
9
10

In [55]:
A = {}
for i = 1, 10 do
    A[i] = {}
    for j =1, 10 do
        A[i][j] = i + j
    end    
end

for i = 1, 10 do    
    for j =1, 10 do
        print(A[i][j])
    end    
end

2
3
4
5
6
7
8
9
10
11
3
4
5
6
7
8
9
10
11
12
4
5
6
7
8
9
10
11
12
13
5
6
7
8
9
10
11
12
13
14
6
7
8
9
10
11
12
13
14
15
7
8
9
10
11
12
13
14
15
16
8
9
10
11
12
13
14
15
16
17
9
10
11
12
13
14
15
16
17
18
10
11
12
13
14
15
16
17
18
19
11
12
13
14
15
16
17
18
19
20

In [65]:
function addOne(num)
        return num + 1
end

for i = 0, addOne(9) do
    print(i)
end

0
1
2
3
4
5
6
7
8
9
10

In [72]:
A = {"bola","pipa","pedra","rua","sol"}

for k, v in pairs(A) do
    print(k,v)
end

1	bola
2	pipa
3	pedra
4	rua
5	sol